<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>{{data}}</h1>

    <div class="container">

<form action="">
    <h2>Login Form</h2>
    <input (change)="acnochange($event)" type="text" [placeholder]="pdata">
    <input #psw type="password" placeholder="Password">
    <p>Forgot password?</p>
    <button (click)="login(psw)">Login</button>
</form>
<p>
    <a routerLink="register"><strong>SIGNUP</strong></a>
    
</p>
    </div>
</body>
</html>